@import "tailwindcss";

.animation-delay-2000 {
    animation-delay: 2s;
}

.animation-delay-4000 {
    animation-delay: 4s;
}

.glass {
    @apply backdrop-blur-md bg-white/30 border border-white/20;
}

.glass-card {
    @apply backdrop-blur-md bg-white/10 border border-white/20;
}

.jelly:active {
    @apply scale-95 transition-transform duration-100;
}