@import "tailwindcss";

@theme {
    --color-brand: #0f172a;
    /* Deep Ocean Blue */
    --color-ui: #f1f5f9;
    /* Soft Blue-Grey */
    --color-accent: #2563eb;
    /* Vivid Royal Blue */
    --color-text-main: #334155;
    /* Dark Charcoal */
}